<h1>Cocktails List</h1>

<div class="col-md-10 col-lg-6 xl-6">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, placeholder: 'name' %>
</div>
    <%= f.button :submit, 'Send!', class: 'button' %>
  <% end %>



<div class="grid-size">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
        <%= link_to dose_path(cocktail),
          method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
